* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  /* Intentionnally jarring background image to help highlight readability issues */
  /* Also, try to spot the animal! */
  background-image: url("https://i.dailymail.co.uk/i/newpix/2018/09/07/16/4FD2157300000578-0-image-a-235_1536334744587.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Collapsible Sections */
.collapser {
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: #074365;
  display: block;
  padding: 16px 44px 16px 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
  border: 1px solid #074365;
  color: #fff;
}

.collapser:hover {
  background-color: #05324c;
}

.collapser::after {
  content: ">";
  position: absolute;
  top: 16px;
  right: 16px;
  left: auto;
  pointer-events: none;
  display: inline-block;
  transition: transform .8s ease;
  transform-origin: center center;
  transform: rotate(90deg);
}

.collapser.opened::after {
  transform: rotate(-90deg);
}

.collapser a, .collapser a:visited {
  color: inherit;
}

/**/
/* Link Lists */
.linkList {

}
.linkList.isHidden {
  display: none;
}

.linkList ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 1rem;
  grid-auto-rows: auto;
  list-style: none;
  padding-left: 0;
}
/* Link Previews */

.linkPreview {
  width: 300px;
  background: rgba(255, 255, 255, .8);
  border-radius: 10px;
  overflow: hidden;
}

.linkPreview-title {
  /* title */
  font-size: larger;
  margin: 0;
  padding: .3rem .8rem 0 .8rem;
  display: inline-block;
}

.linkPreview-title a, .linkPreview-title a:visited {
  color: inherit;
}

.linkPreview-eventLocation {
  /* event location */
  display: block;
  margin: .8rem;
  padding: .8rem;
  border: 1px dotted black;
}

.linkPreview-desc {
  /* description */
  margin: 0;
  padding: .8rem;
}

.linkPreview-image {
  /* image container */
  display: inline-block;
  width: 300px;
  height: 150px;
  overflow: hidden;
}

.linkPreview-image img {
  /* image */
  max-width: 300px !important;
  border-radius: 10px 10px 0 0;
}

.linkPreview-image img.clickable {
  cursor: pointer;
}

.linkPreview-eventDate {
  /* event date */
  font-size: smaller;
  margin: 0;
  padding: 0 .8rem;
}
/**/
/* Search Box */
#searchBox .icon {
  display: inline-block;
  background: white;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;
}
/**/
/* Search Results */
#searchResults {
  position: absolute;
  list-style: none;
  padding-left: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: .3rem;
  z-index: 5;
  display: none;
}
#searchResults.isVisible {
  display: block;
}
#searchResults > li {
  display: inline-block;
  vertical-align: top;
  margin: .3rem;
}
.noResults {
  color: white;
}
.searchResult {
  margin: 0;
  position: relative;
}
.searchResult figcaption {
  display: block;
  position: absolute;
  top: 0.3rem;
  background: coral;
  padding: .3rem;
  font-size: larger;
  border-radius: 10px;
}
.searchResult figcaption::before {
  content: '#'
}
.searchResult .matchesQuery {
  font-weight: inherit;
  background: rgba(255, 237, 0, 0.3);
}
/**/
