* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  /* Intentionnally jarring background image to help highlight readability issues */
  /* Also, try to spot the animal! */
  background-image: url("https://i.dailymail.co.uk/i/newpix/2018/09/07/16/4FD2157300000578-0-image-a-235_1536334744587.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
